body{
    background-color: #8a6d3b;
}

.panel-default > .panel-heading {
    background: #e0c070;
    border-bottom:0px;
    padding-left:5%;
    padding-right:5%;
    text-align:center;
    margin-top:0px;
}
#registerlogo{
    margin-top:0px;
    margin-bottom:5%;
}

.panel-default{
    border-bottom:2px solid black;
    position:relative;
    margin-top:10%;
    padding-left:0px;
    padding-right:0px;
}